//Fonts
$font-family-primary: 'Lato', sans-serif;

//Colors
$primary: #73614c;
$secondary: #FFDBCD;
$text: #504f51;
$gray: #616162;
$yellow: #E9BE3E;
$dark-strong: rgba(0, 0, 0, 0.87);
$light: #EEEEEE;
$white: #fff;
$black: #000;